<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>App 9</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <!-- DataBinder -->
    <script src="js/helpers/util.js"></script>
</head>

<body>
    <!-- First Screen-->
    <div class="bannerBackground animated fadeOut">
        <img data-bind-appNine="bannerBackground"></img>
    </div>
    <!-- Second Screen-->
    <!-- Upper Part -->
    <div class="banner animated bounceInDown">
        <img data-bind-appNine="banner"></img>
    </div>
    <div class="bannerIcon animated3s fadeIn">
        <img data-bind-appNine="bannerIcon"></img>
    </div>

    <div class="bannerAdTextLine1 animated32s fadeIn" data-bind-appNine="bannerAdTextLine1"></div>
    <div class="bannerAdTextLine2 animated35s fadeIn" data-bind-appNine="bannerAdTextLine2"></div>


    <div class="line1 bannerAdvertisement animated4s fadeIn" data-bind-appNine="bannerAdvertisementLine1"></div>
    <div class="line2 bannerAdvertisement animated45s fadeIn" data-bind-appNine="bannerAdvertisementLine2"></div>
    <div class="line3 bannerAdvertisement animated5s fadeIn" data-bind-appNine="bannerAdvertisementLine3"></div>

    <!-- Below Part -->
    <div class="horizontalLineSeperator line1 animated4s fadeIn"></div>
    <div class="horizontalLineSeperator line2 animated45s fadeIn"></div>
    <div class="horizontalLineSeperator line3 animated5s fadeIn"></div>

    <div class="advertisements animated4s fadeIn">
        <div class="adBannerImage">
            <img data-bind-appNine="adImage1"></img>
        </div>
        <div class="adBannerOfferImage animated45s pulse" data-bind-appNine="adBanner1Offer"></div>
        <!-- Banner Info -->
        <div class="adBannerName adBannerLeft" data-bind-appNine="adBanner1Name"></div>
        <div class="adBannerDesc adBannerLeft" data-bind-appNine="adBanner1Desc"></div>
        <div class="adBannerPrice adBannerLeft" data-bind-appNine="adBanner1Price"></div>
    </div>
    <div class="advertisements animated43s fadeIn">
        <div class="adBannerImage adImage2">
            <img data-bind-appNine="adImage2"></img>
        </div>
        <!-- Banner Info -->
        <div class="adBannerName adBannerLeft" data-bind-appNine="adBanner2Name"></div>
        <div class="adBannerDesc adBannerLeft" data-bind-appNine="adBanner2Desc"></div>
        <div class="adBannerPrice adBannerLeft" data-bind-appNine="adBanner2Price"></div>
    </div>
    <div class="advertisements animated46s fadeIn">
        <div class="adBannerImage adImage3">
            <img data-bind-appNine="adImage3"></img>
        </div>
        <!-- Banner Info -->
        <div class="adBannerName adBannerLeft" data-bind-appNine="adBanner3Name"></div>
        <div class="adBannerDesc adBannerLeft" data-bind-appNine="adBanner3Desc"></div>
        <div class="adBannerPrice adBannerLeft" data-bind-appNine="adBanner3Price"></div>
    </div>
    <div class="advertisements animated49s fadeIn">
        <div class="adBannerImage adImage4">
            <img data-bind-appNine="adImage4"></img>
        </div>
        <div class="adBannerOfferImage animated5s pulse" data-bind-appNine="adBanner4Offer"></div>
        <!-- Banner Info -->
        <div class="adBannerName adBannerLeft" data-bind-appNine="adBanner4Name"></div>
        <div class="adBannerDesc adBannerLeft" data-bind-appNine="adBanner4Desc"></div>
        <div class="adBannerPrice adBannerLeft" data-bind-appNine="adBanner4Price"></div>
    </div>
</body>
<script src="js/controller.js"></script>

</html>
