<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Dashborad App III</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <!-- DataBinder -->
    <script src="js/helpers/util.js"></script>
</head>

<body>
    <div class="header">
        <img class="headerImage" data-bind-templateSix="headerImage" height="53px" width="45px;" />
    </div>
    <div class="content">
        <!-- Main Showcase -->
        <div class="showcase">
            <div class="showcaseImg">
                <img data-bind-templateSix="showcaseImg" height="526px" width="854px" />
            </div>
            <div class="showcaseText">
                <div class="heading1 heading" data-bind-templateSix="heading1"></div>
                <div class="heading2 heading" data-bind-templateSix="heading2"></div>
                <div class="heading3 heading" data-bind-templateSix="heading3"></div>
                <div class="showcaseContent" data-bind-templateSix="showcaseContent"></div>
            </div>
        </div>
        <!-- Banner With Text Overlay -->
        <div class="bannerImg">
            <img data-bind-templateSix="bannerImg" />
            <div class="bannerImgText">
                <span class="bannerImgOverlayText" data-bind-templateSix="bannerImgOverlayText"></span>
                <span class="bannerImgOverlayContent" data-bind-templateSix="bannerImgOverlayContent"></span>
            </div>
        </div>
        <!-- Section -->
        <div class="textSection">
            <div class="heading1 heading" data-bind-templateSix="textSectionH1"></div>
            <div class="heading2 heading" data-bind-templateSix="textSectionH2"></div>
            <div class="heading3 heading" data-bind-templateSix="textSectionH3"></div>
            <div class="heading4 heading" data-bind-templateSix="textSectionH4"></div>
        </div>
        <!-- Side Block -->
        <div class="side">
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock1Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock1Content2"></div>
				<div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock1Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock2Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock2Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock2Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock3Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock3Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock3Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock4Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock4Content2"></div>
				<div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock4Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock5Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock5Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock5Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock6Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock6Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock6Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock7Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock7Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock7Content3"></div>
            </div>
            <div class="asideBlock">
                <div class="asideBlockPattern2C1" data-bind-templateSix="asideBlock8Content1"></div>
                <div class="asideBlockPattern2C2" data-bind-templateSix="asideBlock8Content2"></div>
                <div class="asideBlockPattern2C3" data-bind-templateSix="asideBlock8Content3"></div>
            </div>
        </div>
        <!-- Side Block Seperator -->
        <div class="line1 seperator"></div>
        <div class="line2 seperator"></div>
        <div class="line3 seperator"></div>
        <div class="line4 seperator"></div>
        <div class="line5 seperator"></div>
        <div class="line6 seperator"></div>
        <div class="line7 seperator"></div>
        <div class="line8 seperator"></div>
    </div>
</body>
<script src="js/controller.js"></script>

</html>
