<!-- 
    Sample IDCAP Template Application
    Simple Backlight Scheduling
    
    

 -->

<HTML>
    <HEAD>
        <TITLE>Display Backlight Scheduling Sample App</TITLE>
        
        <!--  Include IDCAP API Library -->
        
        <script type="text/javascript" src="./js/idcap.js"></script>
        
        <!--  Script Files -->
        <script src = './setanddelete.js'></script>
        <script src = './scheduler.js'></script>
        <script src = './clockTable.js'></script>
        <script src = './remocon.js'></script>
        
        <!--  Style File -->
        <link rel="stylesheet" type="text/css" href="./style.css">
    </HEAD>
    
    <BODY bgcolor = #FFFFFF onload = 'init()'>
        <!-- Popup Windows -->
        <div id = 'popupWindow'></div>
        <div id = 'helpWindow'></div>
        
        <!-- Text Area -->
        <div id = 'appTitle'>Display Backlight Scheduling Sample App<br>Blue Button to open help</div>
        <div id = 'rotateSpeed'></div>
        <div id = 'currentTime'></div>
    
        <!-- Left Controller Side -->
        <div id = 'controllerTitle'>Backlight Scheduler</div>    
        <div id = 'clockTitle'>Schedule Information</div>    
        <div id = 'controllerInfo'></div>
        <div id = 'controller'></div>
        <div id = 'halfbar'></div>
        
        <!-- Right Time Table Side -->
        <div id = 'clock'></div>
        <div id = 'clockMinute'></div>
        <div id = 'clockHour'></div>
        <div id = 'controllerRuler'></div>
        <div id = 'controllerArrowRotate'>
            <div id = 'controllerSelectedTime'></div>
        </div>
    </BODY>
</HTML>